@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply antialiased;
  }
  
  body {
    @apply bg-off-black text-off-white font-sans;
  }

  ::selection {
    @apply bg-machine-orange text-off-black;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-off-white to-steel;
  }
}
